// MAIN COLORS
$blue-dark:                                 #142850;
$blue-gray:                                 #27496D;
$blue-green:                                #0C7B93;
$blue-white:                                #00A8CC;

// DEFAULT COLORS
$white:                                     #FFF;
$black:                                     #000;